<!DOCTYPE html>
<html>

<head>
	<title>Wayback Everywhere</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/bootstrap.min.old.css" />

	<link rel="stylesheet" href="css/settings.css" />

	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">


	<link rel="shortcut icon" href="images/icon@2x.png">
	<link rel="stylesheet" href="css/font-awesome.min.css" />

	<script src="js/angular-1.6.6.min.js"></script>
	<script src="js/redirect.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/settingspage.js"></script>
	<script src="js/controllers/listredirects.js"></script>
</head>

<body class="container" ng-app="waybackEverywhereApp" ng-controller="WBESettingsPageControl" class="private">


  <div>


	<div id="blur-wrapper" ng-class="{blur: showEditForm || showDeleteForm}">

		<h2><strong>Advanced user</strong></h2>

		<!--<h5>Go where <em>YOU</em> want!</h5>-->

		<div id="menu">

			<!--	<a class="btn blue large" ng-click="createNewRedirect()">Create new redirect</a>-->
			<!-- Importing/Exporting of redirects -->


		</div>



		<!-- List of existing redirects -->
		<div ng-controller="ListRedirectsCtrl">

			<div class="redirect-table" ng-show="true">
				<div>
						<label>Clear All hostnames from Excludes:</label>
							<button class="btn blue" ng-click="clearAllHostnamesFromExcludes()">Clear Excludes!</button>
				</div>

				 <div>
						<label>Reset Stats to Zero:</label>
					<button class="btn blue" ng-click="clearAllStats()">Clear Stats!</button>
				</div>

				   <div>
						<label>Clear all filters</label>
				<button class="btn blue" ng-click="clearAllFilters()">Clear Filters!</button>
				</div>

				<div id="message-box" ng-show="true" ng-class="{visible : message, error : messageType == 'error', success : messageType == 'success'}">
					{{message}}
					<a ng-click="message=null">&#x2716;</a>
				</div>

				<div class="redirect-row" ng-class="{disabled: r.disabled}" ng-repeat="r in redirects">
					<h4><span class="disabled-marker" ng-show="r.disabled">[Disabled] </span><span>{{r.description}}</span></h4>
					<div class="redirect-info">
						<div>
							<label style="white-space:initial;">Redirect:</label>
							<p>All!</p>
						</div>
						<div>
							<label>to:</label>
							<p>Wayback Machine!</p>
						</div>
						<div ng-show="r.excludePattern">
							<label>Excludes List:</label>
							<p><button class="btn blue" ng-click="showExcludes=!showExcludes" ng-show="!showExcludes">Excludes list</button>
								<span ng-if="showExcludes">{{ReadableExcludePattern}}</span></p>
						</div>

						<div ng-if="tempExcludes">
							<label>Temporary Excludes:</label>
							<p>{{tempExcludes}}</p>
						</div>
						<div ng-if="tempIncludes">
							<label>Temporary Includes:</label>
							<p>{{tempIncludes}}</p>
						</div>
						<div ng-if="tempExcludes || tempIncludes">
						<label>Clear Temporary rules:</label>
						<p><button class="btn blue" ng-click="clearTemps()">Clear </button>

						</div>
						<div>
							<!-- Show JustSaved only when logging is enabled - used during development -->
							<label>Just saved urls: </label><p>{{justSaved}}</p>
						</div>
						<div>
							<label>Filters to clean URLS:</label>
							<p>{{filters}}<p>
						</div>

					</div>


				</div>


				<div id="message-box" ng-show="true" ng-class="{visible : incExcmsg, error : messageType == 'error', success : messageType == 'success'}">
					{{incExcmsg}}
					<a ng-click="incExcmsg=null">&#x2716;</a>
				</div>
				<div><button class="btn blue" ng-disabled="!newExcludesite" ng-click="addtoExclude(newExcludesite)">Add to Excludes List</button><input type="text" class="incexcbuttons" ng-model="newExcludesite" placeholder="Enter a link/site to Exclude" id="addexclbutton"
					/><br/>
					<div><button class="btn green" ng-disabled="!newIncludeSite" ng-click="removefromExclude(newIncludeSite)">Remove from Excludes List</button><input class="incexcbuttons" type="text" ng-model="newIncludeSite" placeholder="Enter a link/site to remove" /></div>
				</div>
				<br/>

				<br/>


				<a style="float: right " ng-if="showresetbutton " class="btn red reset " ng-click="toggleResetwarn()">Factory Reset</a>
				<div style="text-align: center; color:red; " ng-if="showresetConfirmation ">
					<p style="font-style: italic ">
						Are you sure you wish to reset settings to factory settings? <br/>You will lose your "excluded sites " settings, and the addon will do full reset! </p>
					<div style="text-align:left ">
						<a style="float: left " ng-click="toggleResetwarn()" class="btn medium green">No, Cancel and let me retain my settings</a>
						<a style="float: right " ng-click="doFactoryReset()" class=" btn red reset"> Yes, I understand, do full reset</a></div>


				</div>


			</div>
		</div>
		<br/><br/>
		<footer><small>
			Developed by Gokulakrishna. <a href="mailto:gokulakrishnaks@gmail.com?subject=WaybackEverywhere%20Feedback ">
gokulakrishnaks@gmail.com
</a> Twitter : <a href="https://twitter.com/gkrishnaks " target="_blank ">@gkrishnaks</a></small>
		</footer>

	</div>
</body>

</html>
